.mes_box {
	background-color: #fff;
	-webkit-box-shadow: 0 0 40px 0 rgba(34, 34, 34, .15);
	-moz-box-shadow: 0 0 40px 0 rgba(34, 34, 34, .15);
	-ms-box-shadow: 0 0 40px 0 rgba(34, 34, 34, .15);
	box-shadow: 0 0 40px 0 rgba(34, 34, 34, .15);
	margin-top: 100px;
	padding: 60px 80px;
}

.mes_tit {
	color: #222;
	font-size: 3.6rem;
	text-align: center;
}

.mes_inner {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

.mes_txt {
	line-height: 2.5;
}

.mes_box .mes_txt {
	width: 720px;
}

.recruit .ceo__about_tit {
	font-size: 1.2rem;
	margin-top: 30px;
}

.mes_about {
	width: 256px;
}

.recruit .ceo__about__img {
	width: 210px;
}

.recruit .ceo__about__name {
	font-family: "Noto Serif JP", serif;
	font-size: 2.0rem;
	margin-top: 18px;
}

.recruit .ceo__about__sub {
	margin-top: 20px;
	position: relative;
}

.recruit .ceo__about__sub span {
	font-size: 1.2rem;
	margin-left: 28px;
	margin-top: 20px;
}

.recruit .ceo__about__sub::before {
	background-color: #c3c454;
	content: "";
	display: inline-block;
	height: 1px;
	margin: auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
}

.mes_txt__block {
	display: block;
	margin-top: 15px;
}

.member_inner {
	border-top: 1px #ccc solid;
	display: flex;
	justify-content: space-between;
	margin: 74px auto 0;
	padding-top: 74px;
	width: 960px;
}

.member_inner:last-of-type {
	border-bottom: 1px solid #ccc;
	padding-bottom: 74px;
}

.member_inner.reverse {
	flex-direction: row-reverse;
}

.member_inner__about {
	width: 300px;
}

.member_inner.reverse .member_inner__about {
	padding-left: 45px;
}

.member_inner__txt {
	line-height: 2.5;
	width: 640px;
}

.to-Viewmore {
	display: block;
	font-size: 1.6rem;
	position: relative;
}

.to-Viewmore::after {
	background-color: #222;
	content: "";
	display: inline-block;
	height: 1px;
	left: 98px;
	margin: auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
}

table {
	margin-top: 100px;
	width: 100%;
}

table th {
	background-color: #f2f2f2;
	line-height: 1.5;
	padding: 20px;
	width: 182px;
}

table tr:nth-child(n+2) th {
	border-top: 1px solid #fff;
}

table tr:last-of-type th {
	border-bottom: 1px solid #f2f2f2;
}

table td {
	border-bottom: 1px solid #ccc;
	border-collapse: collapse;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	line-height: 2;
	padding: 40px;
}

.recruit .bg-color__gray {
	margin-top: 150px;
}

@media screen and (max-width: 767px) {
	.mes_box {
		margin-top: 40px;
		padding: 30px 20px;
	}

	.mes_inner {
		display: block;
		margin-top: 40px;
	}

	.mes_tit {
		font-size: 2rem;
		line-height: 1.5;
	}

	.mes_box .mes_txt {
		font-size: 1.4rem;
		line-height: 2;
		width: 100%;
	}

	.mes_about {
		align-items: flex-start;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		margin-top: 40px;
		width: 100%;
	}

	.recruit .ceo__about__img {
		margin-left: 25px;
		width: 100px;
	}

	.recruit .ceo__about_tit {
		font-size: 1.1rem;
		line-height: 1.2;
		margin-top: 10px;
	}

	.recruit .ceo__about__name {
		font-size: 1.6rem;
		line-height: 1.2;
		margin-top: 14px;
	}

	.recruit .ceo__about__sub {
		margin-left: 3rem;
		margin-top: 14px;
	}

	.recruit .ceo__about__sub::before {
		margin-left: -3rem;
		margin-right: 10px;
		margin-top: 2px;
	}

	.mes_about .ceo__about__sub::before {
		margin-top: -7px;
	}

	.recruit .ceo__about__sub span {
		font-size: 1.1rem;
		margin-left: 0;
	}

	.member_inner {
		display: block;
		margin: 0 auto;
		padding-bottom: 40px;
		padding-top: 30px;
		width: 100%;
	}

	.member_inner:first-of-type {
		margin: 40px auto 0;
	}

	.member_inner:last-of-type {
		padding-bottom: 40px;
	}

	.member_inner__about {
		width: 100%;
	}

	.member_inner.reverse .member_inner__about {
		padding-left: 0;
	}

	.member_inner__txt {
		font-size: 1.4rem;
		line-height: 2;
		margin-top: 30px;
		width: 100%;
	}

	table th {
		display: block;
		line-height: 55px;
		padding: 0;
		width: 100%;
	}

	table td {
		border-left: 1px solid #ccc;
		border-top: none;
		display: block;
		padding: 20px;
	}

	.member_inner__about .ceo__about__img {
		display: block;
		margin: 0 auto;
		width: 120px;
	}

	.recruit .hd-tit-02 {
		margin-top: 60px;
	}

	.recruit .hd-tit-02--sub {
		margin-left: 23px;
		margin-top: 20px;
	}

	.application .hd-tit-02--sub {
		display: block;
		margin-left: 0;
	}

	table {
		margin-top: 30px;
	}

	table tr:nth-child(n+2) th {
		margin-top: 30px;
	}

	.recruit .bg-color__gray {
		margin-top: 45px;
	}
}